.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Home{
    background-color: white;

    border-top-width: 10px;
    border-right-width: 100px;
    border-bottom-width: thick;
    border-left-width: thin;
    display: grid;

        .Title{
            text-align: center;
            justify-content: center;
            width: 100%;
           
        }

}